.left{
    width: 300px;
    height: auto;
    float: left;
    background-color: #f0f;
}
.right{
    width:300px;
    height: auto;
    float: left;
    margin-left: 100px;
    background-color: #0ff;
}
.con{
    margin-top: 20px;
    background-color: #00f;
}